<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "1" 
        version     = "0.1.0" >

    <!-- versionCode is optional and Android only -->
    <preference name="phonegap-version" value="cli-6.3.0" />
    <description>
        Resumos de regras de jogos de tabuleiro em português do Brasil.
    </description>
    
    <icon src="icon.png" />
	
	<platform name="android">
		<icon src="android/icon.png" gap:platform="android" gap:density="ldpi" />
		<icon src="android/icon.png" gap:platform="android" gap:density="mdpi" />
		<icon src="android/icon.png" gap:platform="android" gap:density="hdpi" />
		<icon src="android/icon.png" gap:platform="android" gap:density="xhdpi" />
		<icon src="android/icon.png" gap:platform="android" gap:density="xxhdpi" />
	</platform>

</widget>
